hr{
    width: 75%;
    margin: auto;
    opacity: 0.1;
}
.footer{
    position:relative;
    bottom:0%;
    width: 100%;
    color: white;
    background-color: #38383C;
}
.above{
    width: 90%;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 30px;
    justify-content: space-evenly;
    display: flex;
}
ul span{
    line-height: 0.8;
}
li{
    opacity: 0.6;
    cursor: pointer;
}
li:hover{
    opacity: 1;
    text-decoration: underline;
    color: #F36C00;
}
h3{
    margin-bottom: 15px;
}
.list4_inner{
    flex-direction: column;
    height: 85px;
    padding:10px 0px 10px 20px;
    border-radius: 5px;
    background-color: #424246;
}
.list4_inner_left{
    float: left;
    width: 300px;
}
.list4_inner_left p{
    margin-top: -25px;
    line-height: 1.3;
}
.list4_inner_right{
    float: right;
}
#list4_inner_img{
    margin-left: 30px;
    filter: grayscale(100%);
    border-bottom-right-radius: 5px;
    width: 130px;
    height: 93px;
}
.below{
    width: 74%;
    margin: auto;
    padding-top: 18px;
    padding-bottom: 25px;
    justify-content: space-evenly;
}
@media screen and (max-width: 899px) {
    .above{
        flex-direction: column;
    }
    .list2{
        margin-top: 25px;
    }
    .list3{
        margin-top: 25px;
    }
    .list4{
        margin-top: 35px;
    }
    .list4_inner_left{
        width: 270px;
    }
    .below{
        display: flex;
        flex-direction:column-reverse;
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .list4_inner{
        height: 175px;
    }
    #list4_inner_img{
        margin: 5px 13vh 0px 0vh;
    }
}
